QToolTip {
  border: 1px solid palette(highlight);
}
QMenu {
  border: 1px solid palette(highlight);
}
QCheckBox::indicator {
  color: red;
}

QComboBox QFrame {
    border: 1px solid palette(highlight);
}