* {
	font-family: "NotoSans Nerd Font";
	font-size: 15px;
	border-radius: 0;
	color: #e8e8e8;
}

window#waybar {
	/* background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(30, 34, 42, 0.5) 80%); */

	background: rgba(30, 34, 42, 0.85);
}

/* Workspaces */
#workspaces {
	background-color: transparent;
	border-radius: 1000px;
}

#workspaces button {
	color: white;
	border: none;
	padding: 0 7px;
}

#workspaces button:hover {
	background: inherit;
}

#workspaces button label {
	font-size: 1.1rem;
	font-family: "NotoSans Regular";
}

#workspaces button.active label {
	color: #51afef;
}

.modules-right * {
	margin: 0 6px;
	font-size: 1.1rem;
}
