* {
	foreground:			  #d6d6d6;
	selected-foreground:  #00ff9a;
	
	//background:			#141419a0; 
	background:			  #21242b;
	background-solid:	  #141419ff; 
	selected-background:  rgba(0, 0, 0, 50%);

	/*#87b5d7;*/  
	/*#6eacda;*/
	/*#deca72;*/
	/*#39c9fe;*/

	red:				  rgba ( 220, 50, 47, 100 % );
	blue:				  rgba ( 38, 139, 210, 100 % );
}

